<!DOCTYPE html>
<html xmlns:th="http://www/thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/styleout.css"/>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;1,200&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>

<form th:action="@{/login}" method="post">
    <label for="username">UserName</label>
    <input type="text" id="username" name="username"/><br>
    <label for="password">Password</label>
    <input type="text" id="password" name="password"/><br>
    <label for="remember-me">Remember Me</label>
    <input type="checkbox" id="remember-me" name="remember-me"/><br>
    <input type="submit" value="Login"/>
</form>

</body>
</html>